

/* ==========================================================================
   Author's custom styles
   ========================================================================== */



/*------------------shared css---------------------*/


.index-table-margin {
	margin: 5%;
}

/*------------------user page css-------------------*/

.user-icon-size {
	font-size: 10em;
}

.float-right {
	float: right;
}

.user-border-bottom {
	margin-bottom: 3%;
}